<%- include("header") -%>
<div class="about">
    <div class="box" id="heading">
        <h1> About Our website </h1>
      </div>
<img class='image' src='/images/todo.jpg' />
<p class="about">This is a To-Do-List website which is designed for people in order to keep a track about the daily things need to be completed and those which are already done.</p>
<p class='about'> Click on the <strong> ' + ' </strong> to add new things to the list.</p>
<p class='about'>Once done checkout that item to remove it from the list.</p>
</div>

<div class='footer'>
    Made with ❤️ Pranav Gadhave
</div>