@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  background-color: #FEE715FF;
  background-image: -webkit-linear-gradient(45deg, #101820FF 50%, #FEE715FF 50%);
  min-height: 1000px;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #101820FF;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #101820FF;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #101820FF;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #101820FF;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: #F9F9F9;
 
  text-align: center;
}
.footer{
  color: whitesmoke;
  margin-top: 220px;
  text-align: center;
}

.about{
  color: #F8F5F1
}
.image{
  height: 400px;
  width: 600px;
  float: right;
  margin-left:20px ;
  margin-right: 20px;
}
#head{
  font-size: 3.2rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
  color: aliceblue;
  
}
.abt{
  float: right;
  margin-right: 40px;
  font-size: 1.3rem;
  
}